<h1>Welcome to the <em>Rock &#8226 Paper &#8226 Scissors</em> game!</h1>
<img src="https://www.wikihow.com/images/f/f2/Play-Rock%2C-Paper%2C-Scissors-Step-3-Version-3.360p.gif" alt="Animation of two people playing rock paper scissors">
<h2>Rules</h2>
<ul>
  <li><b>Face off against another person.</b> For the game to play out correctly, there need to be two players. Stand facing one another a few paces apart. Place one hand flat out in front of you, palm up. Your other hand will be used to make the shape of the object you want to play once the game starts.</li>
  <li><b>Count down to make your play.</b> Agree on a cue that you’ll use to match shapes with your opponent.</li>
  <li><b>Play one of the three objects against your opponent.</b> When it comes time to play, you and your opponent will each form one of the three objects—either rock, paper or scissors. You’ll then name a winner based on which object they played. Every game will be different, so stay alert!</li>
  <li><b>Determine the winner.</b> After you’ve both played an object, look to see who’s won. Each object wins against one shape and loses to another. For instance, rock “crushes” scissors but is “covered” by paper, paper “covers” rock but is “cut” by scissors, and scissors is “crushed” by rock but “cuts” paper. The player who picks the stronger of the two objects is the winner.</li>
</ul>
<footer> Content source: https://www.wikihow.com/Play-Rock,-Paper,-Scissors</footer>
